fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
httpx
langchain
langchain-core
langchain-groq
langchain-qdrant
langchain-huggingface
qdrant-client
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
pathspec
slowapi
pytest
