fastapi
uvicorn[standard]
SQLAlchemy
alembic
pydantic
pydantic-settings
python-dotenv
httpx
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-qdrant
qdrant-client
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
pathspec
chromadb
pytest
slowapi
psycopg2-binary==2.9.9